.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'DM Sans', serif;
  &__logo {
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      display: block;
      text-align: center;
      padding: 20px 0;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  &__button {
    background-color: $orange-color;
    @media screen and (max-width: 768px) {
      margin: 0 auto;
      margin-bottom: 30px;
    }
    &:hover {
      background-color: $dark-orange-color;
      color: $white-color;
    }
  }
}

.nav {
  justify-content: center;
  align-items: center;
  &__list {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (max-width: 375px) {
      gap: 20px;
    }
  }
  &__item {
    list-style: none;
  }
  &__link {
    text-decoration: none;
    color: #696871;
    padding-bottom: 10px;
    font-weight: bold;
    &:hover {
      color: #19191B;
      border-bottom: 1px solid $main-violet-color;
    }
  }
}

.nav .active {
  color: #19191B;
  border-bottom: 1px solid $main-violet-color;
}