.slider {
  margin-bottom: 160px;
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &__item {
    list-style: none;
  }
}

.carousel {
  margin-top: 50px;
  @include media-breakpoint-up(md) { 
    display: none;
  }
  &__image {
    height: 80px;
    margin: 0 auto;
    @include media-breakpoint-down(sm) {
      height: 50px;
    }
  }
  &__button {
    color: $black-color;
  }
}