.slider {
  margin-bottom: 160px;
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &__item {
    list-style: none;
  }
}

.carousel {
  display: flex;
  width: 100%;
  @include media-breakpoint-up(md) { 
    display: none;
  }
  &__container {
    overflow: hidden;
    width: 100%;
  }

  &__inner {
    white-space: nowrap;
    transform: translateX(-0%);
    transition: transform 0.3s;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
  }

  &__button {
    cursor: pointer;
    background: none;
    border: none;
  }
}