@import 'bootstrap/scss/bootstrap';
@import 'styles/variables';
@import 'styles/fonts';
@import 'styles/header';
@import 'styles/main';
@import 'styles/slider';
@import 'styles/form';

.button {
  max-width: 211px;
  height: 60px;
  font-weight: bold;
  color: $white-color;
  border-radius: 10px;
}

.link {
  cursor: pointer;
}

@include media-breakpoint-down(sm) {
  body {
    overflow-x: hidden;
  }
}